*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(210, 240, 12, 0.739);
}
.a{
    border: 2px solid black;
    width: 90%;
    height: 100px;
    margin: 10px 05%;
    background-color: burlywood;
    text-align: center;
}
.b{
    border: 2px solid black;
    width: 90%;
    height: 60px;
    margin: 10px 05%;
    background-color: rgb(3, 124, 245);
    text-align: center;
}
.c{
    border: 2px solid black;
    width: 30%;
    height: 680px;
    margin: 10px 10px;
    background-color: rgb(238, 81, 42);
    text-align: center;
}
.d{
    border: 2px solid black;
    width: 70%;
    height: 680px;
    margin: 10px 10px;
    background-color: rgb(33, 242, 235);
    text-align: center;
}
.e{
    border: 2px solid black;
    width: 90%;
    height: 70px;
    margin: 10px 05%;
    background-color: rgb(40, 236, 79);
    text-align: center;
}
.main{
    display: flex;
    width: 90%;
    height: 700px;
    border: 2px solid black;
    margin: 10px 05%;
    background-color: rgb(222, 135, 170);
}

